version: "3.9"

services:
  redis:
    image: redis:7
    container_name: db-redis
    restart: always
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redis_data:/data
    ports:
      - "${REDIS_PORT:-6379}:6379"

volumes:
  redis_data:
